<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuroVision</title>
</head>
<body>

    <h1>NeuroVision – Brain Tumor Detection</h1>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Upload</button>
    </form>

    {% if image_url %}
    <h2>Prediction Result</h2>
    <img src="{{ image_url }}" alt="Result">
    {% endif %}

</body>
</html>
